<div ng-controller="listarController as vm">

    <h2>Listar</h2>
    
    <table class="table table-striped">
        <thead>
            <tr>
                <td>Codigo</td>
                <td>Nome</td>
                <td>E-Mail</td>
                <td>Telefone</td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in vm.listaAmigos">
                <td>{{ item.id }}</td>
                <td>{{ item.nome }}</td>
                <td>{{ item.email }}</td>
                <td>{{ item.telefone }}</td>
            </tr>
        </tbody>
    </table>

</div>